header {
  width: 100%;
}
header .myHeader {
  width: 980px;
  padding: 0;
  height: 100px;
}
.register_content {
  width: 100%;
}
.register_content .myRegister {
  width: 980px;
  padding: 0;
}
.register_content .myRegister .top {
  width: 980px;
  height: 28px;
  border-bottom: 2px solid #6E6E6E;
  background: url(../images/buttonSkin.png) no-repeat 0 -450px;
}
.register_content .myRegister .top a {
  font-size: 16px;
  font-weight: 600;
  padding-left: 40px;
  color: #fff;
  line-height: 30px;
}
.register_content .myRegister .contain {
  margin-top: 10px;
  border: 1px solid #CCC;
}
.register_content .myRegister .contain .contain_left {
  padding: 20px 0 30px 15px;
  float: left;
}
.register_content .myRegister .contain .contain_left p {
  width: 700px;
  font-size: 14px;
  text-indent: 20px;
  line-height: 30px;
  margin-left: 15px;
  border-bottom: 1px dotted #E6E6E6;
}
.register_content .myRegister .contain .contain_left #mobile_form {
  width: 743px;
}
.register_content .myRegister .contain .contain_left #mobile_form .first_items {
  margin-top: 15px;
}
.register_content .myRegister .contain .contain_left #mobile_form .first_items .input1 {
  position: relative;
  top: -7px;
}
.register_content .myRegister .contain .contain_left #mobile_form .items {
  clear: both;
  width: 700px;
  height: 66px;
  padding-top: 10px;
}
.register_content .myRegister .contain .contain_left #mobile_form .items .text {
  float: left;
  width: 120px;
  line-height: 30px;
  font-size: 14px;
  color: #666;
  text-align: right;
}
.register_content .myRegister .contain .contain_left #mobile_form .items .right_inp {
  float: right;
  width: 567px;
  height: 56px;
}
.register_content .myRegister .contain .contain_left #mobile_form .items .right_inp .input1 {
  border: 1px solid #ABABAB;
  width: 240px;
  height: 28px;
  line-height: 28px;
  padding: 0 5px 0 0;
  margin: 0 10px 0 0;
}
.register_content .myRegister .contain .contain_left #mobile_form .items .right_inp .input2 {
  border: 1px solid #ABABAB;
  width: 120px;
  height: 28px;
  line-height: 28px;
  padding: 0 5px 0 0;
  margin: 0 10px 0 0;
}
.register_content .myRegister .contain .contain_left #mobile_form .items .right_inp .tips {
  display: inline-block;
  width: 305px;
  height: 38px;
  font-size: 12px;
}
.register_content .myRegister .contain .contain_left #mobile_form .items .right_inp .mySpan i {
  display: inline-block;
  padding: 3px 15px;
}
.register_content .myRegister .contain .contain_left #mobile_form .items .btn-mobile-danger {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-left: 5px;
  padding: 5px 35px;
  background-color: #eb1010;
  border-color: #eb1010;
}
.register_content .myRegister .contain .contain_left #mobile_form .items .btn-mobile-danger:focus,
.register_content .myRegister .contain .contain_left #mobile_form .items .btn-mobile-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}
.register_content .myRegister .contain .contain_left #mobile_form .items .btn-mobile-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.register_content .myRegister .contain .contain_left #mobile_form .items .btn-mobile-danger:active,
.register_content .myRegister .contain .contain_left #mobile_form .items .btn-mobile-danger.active,
.register_content .myRegister .contain .contain_left #mobile_form .items .open > .dropdown-toggle.btn-mobile-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.register_content .myRegister .contain .contain_left #mobile_form .items .btn-mobile-danger:active:hover,
.register_content .myRegister .contain .contain_left #mobile_form .items .btn-mobile-danger.active:hover,
.register_content .myRegister .contain .contain_left #mobile_form .items .open > .dropdown-toggle.btn-mobile-danger:hover,
.register_content .myRegister .contain .contain_left #mobile_form .items .btn-mobile-danger:active:focus,
.register_content .myRegister .contain .contain_left #mobile_form .items .btn-mobile-danger.active:focus,
.register_content .myRegister .contain .contain_left #mobile_form .items .open > .dropdown-toggle.btn-mobile-danger:focus,
.register_content .myRegister .contain .contain_left #mobile_form .items .btn-mobile-danger:active.focus,
.register_content .myRegister .contain .contain_left #mobile_form .items .btn-mobile-danger.active.focus,
.register_content .myRegister .contain .contain_left #mobile_form .items .open > .dropdown-toggle.btn-mobile-danger.focus {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19;
}
.register_content .myRegister .contain .contain_left #mobile_form .items .btn-mobile-danger:active,
.register_content .myRegister .contain .contain_left #mobile_form .items .btn-mobile-danger.active,
.register_content .myRegister .contain .contain_left #mobile_form .items .open > .dropdown-toggle.btn-mobile-danger {
  background-image: none;
}
.register_content .myRegister .contain .contain_left #mobile_form .items .btn-mobile-danger.disabled:hover,
.register_content .myRegister .contain .contain_left #mobile_form .items .btn-mobile-danger[disabled]:hover,
.register_content .myRegister .contain .contain_left #mobile_form .items fieldset[disabled] .btn-mobile-danger:hover,
.register_content .myRegister .contain .contain_left #mobile_form .items .btn-mobile-danger.disabled:focus,
.register_content .myRegister .contain .contain_left #mobile_form .items .btn-mobile-danger[disabled]:focus,
.register_content .myRegister .contain .contain_left #mobile_form .items fieldset[disabled] .btn-mobile-danger:focus,
.register_content .myRegister .contain .contain_left #mobile_form .items .btn-mobile-danger.disabled.focus,
.register_content .myRegister .contain .contain_left #mobile_form .items .btn-mobile-danger[disabled].focus,
.register_content .myRegister .contain .contain_left #mobile_form .items fieldset[disabled] .btn-mobile-danger.focus {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.register_content .myRegister .contain .contain_left #mobile_form .items .btn-mobile-danger .badge {
  color: #d9534f;
  background-color: #fff;
}
.register_content .myRegister .contain .contain_left #mobile_form .last_items {
  height: 44px;
}
.register_content .myRegister .contain .contain_right {
  float: right;
}
.register_content .myRegister .LI_bottom {
  width: 980px;
  clear: both;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}
.register_content .myRegister .LI_bottom a {
  color: #333;
}
